/* reset.css */
.p-inputtext {
    font-family: inherit;
    font-size: 1rem;
    color: #495057;
    background: #ffffff;
    padding: 0.75rem 0.75rem;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
}

.p-inputtext:enabled:hover {
    border-color: #6366F1;
}

.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #C7D2FE;
    border-color: #6366F1;
}

.p-inputtext.p-invalid.p-component {
    border-color: #e24c4c;
}

.p-inputtext.p-inputtext-lg {
    font-size: 1.25rem;
    padding: 0.875rem 0.875rem;
}